*{
  margin: 0;
}

body{
  background-color: grey;
}

.app{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.app_stat{
  display: flex;
  justify-content: space-between;
  
}
.left{
  flex :0.9;
}

.app_dropdown{
  background-color: white;
}

.app_header{
  display : flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}





