*{
  margin: 0;
}

.app_dropdown{
  background-color: white;
}

body{
  background-color: grey;
}

.app_stat{
  display : flex;
  justify-content: space-between;
}

.app_header{
  display : flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}